.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: dimgrey;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar ul {
  padding: 0px !important;
  background-color: dimgrey;
}

.sidebar ul li span{
  color: rgb(17, 23, 43);
}

.sidebar-icon {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.app-container {
  margin-left: 200px;
  font-family: 'Courier New', serif;
  background-color: white;
}

.contents {
  /* text-align: center; */
  color: rgb(20, 19, 19);
}

.social-icon {
  color: white;
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.social-links {
  text-align: center
}