body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
}

.Sidebar {
  width: 200px;
  /* Additional styling for the sidebar */
}

.Content {
  flex: 1;
  padding: 20px;
  /* Additional styling for the content */
}

/* Optional: Styling for active NavLink */
.Sidebar .active {
  font-weight: bold;
}